<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-button>Login</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>

<!--<div class="displayTable">-->
<!--  <div class="displayTableCell">-->
<!--    <div class="authBlock">-->
<!--      <h3>Sign In</h3>-->
<!--      <div class="formGroup">-->
<!--        <input type="text" class="formControl" placeholder="Username" #userName required>-->
<!--      </div>-->
<!--      <div class="formGroup">-->
<!--        <input type="password" class="formControl" placeholder="Password" #userPassword required>-->
<!--      </div>-->
<!--      &lt;!&ndash; Calling SignIn Api from AuthService &ndash;&gt;-->
<!--      <div class="formGroup">-->
<!--        <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">-->
<!--      </div>-->
<!--      <div class="formGroup">-->
<!--        <span class="or"><span class="orInner">Or</span></span>-->
<!--      </div>-->
<!--      &lt;!&ndash; Calling GoogleAuth Api from AuthService &ndash;&gt;-->
<!--      <div class="formGroup">-->
<!--        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">-->
<!--          <i class="fab fa-google-plus-g"></i>-->
<!--          Log in with Google-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="forgotPassword">-->
<!--        <span routerLink="/forgot-password">Forgot Password?</span>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="redirectToLogin">-->
<!--      <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
